# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
myenv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Local databases
*.db
*.sqlite3

# API keys & secrets
config/
secrets/
credentials.json